extends ../../layout-adm
	
block content
	link(rel='stylesheet', href='/stylesheets/glojas/produtos.css')

	form(align='center' method='Post')
			h1(class='titulo') Alterar Item

			label(for="Codigo" class='labelItem') CodProduto
			br
			input(type='number' name='CodProduto' class='inputItem' value='#{CodProduto}')
			br

			label(for="Imagem" class='labelItem') Url da Imagem
			br
			input(type='url' name='Imagem' class='inputItem' size='50' value='#{Imagem}') 
			br
			
			label(for="Produto" class='labelItem') Produto
			br
			input(type='text' name='Produto' class='inputItem' required size='50' value='#{Produto}')
			br
			label(for="Valor" class='labelItem') Valor
			br
			input(type='number' name='ValorProduto' class='inputItem' size='10' step="0.01" value='#{ValorProduto}')
			br

			label(for="Produto" class='labelItem') Descrição do Produto
			br
			textarea(type='text' rows="5" cols="60" maxlength="500" name='Descricao' class='radius' required  class='inputItem') #{Descricao}
			br

			label(for="Produto" class='labelItem') Como será encontrado?
			br
			textarea(type='text' rows="3" cols="60" maxlength="500" name='Search' class='radius' required placeholder="console, videogame, ps4, playstation" class='inputItem')
			br
			
			br
			button(type='submit' value="save" style='margin-bottom:40px' class="btn btn-primary") Salvar Alterações