extends ../../layout-adm
	
block content
	link(rel='stylesheet', href='/stylesheets/glojas/produtos.css')
	if messages.created
		div(style='text-align:center;position:fixed;top:160px;width:100%' class="alert alert-success")
			each msg in messages.created
				b= msg

	if messages.deleted
		div(style='text-align:center;position:fixed;top:160px;width:100%' class="alert alert-success")
			each msg in messages.deleted
				b= msg	

	if messages.info
		div(style='text-align:center;position:fixed;top:160px;width:100%' class="alert alert-danger")
			each msg in messages.info
				b= msg	

	h2(class='titulo') Produtos
	div(style='text-align:right; padding: 0px 15px 0px 0px')
		button(onClick="window.location.href='/gLojas/produtos/adicionar'" class="btn btn-primary")   
			span.glyphicon.glyphicon-plus-sign(style='color:white;position:static' )|  Adicionar 
	br


	if lista.length > 0
		-var i = 1
		
		

		div(class='divProdutos')
			table(align='center'  style='background-color:white;font-size:90%' class="table table-striped table-bordered" class='tabela')
				tread
					tr
						th(class='thItem') COD
						th(class='thItem') IMAGEM
						th(class='thItem') PRODUTO
						th(class='thItem') DESCRIÇÃO
						th(class='thItem') VALOR
						th 
						th 

					tbody
						each valor in lista
							tr(style='margin-top:10px')
								td(class='tdItem' style="width:1%;") #{valor.CodProduto}
								td(class='tdItem' style="width:10%;padding:0px") 
									img(src='#{valor.Imagem}' width='100%')
								td(class='tdItem' style="width:20%") 
									div(class='divDescricao') #{valor.Produto}
								td(class='tdItem' style="width:49%") 
									div(class='divDescricao') #{valor.Descricao}
								td(class='tdItem' style="width:7%") #{valor.ValorProduto}

										
								td(class='tdItem' style="width:1%" ) 
									a(href='/gLojas/produtos/alterar/#{valor.id}')
										span.glyphicon.glyphicon-pencil(style='color:Gray;position:static')
								td(class='tdItem' style="width:1%")
										a(href='/gLojas/dellproduto/#{valor.id}' )
											span.glyphicon.glyphicon-trash(style='color:Gray;position:static')
	else
		h6(style='text-align:center') Nenhum produto encontrado